# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/

# Docker
Dockerfile
.dockerignore

# Other
.vscode/
.idea/
*.DS_Store
