# Project stuff
/Test-Download-Dir/
/Test-AppData-Dir/
/AppData/
/Downloads/
/Old Files/
cyberdrop_dl_debug.log

# Python cache
__pycache__
# venv
.venv
venv
# vscode
.vscode
# pycharm
.idea

# Compiled package
/dist/

# MacOS system files
**.DS_Store
.aider*
.env
