[tool.poetry]
name = "cyberdrop-dl-patched"
version = "6.0.0.rc0"
description = "Bulk downloader for multiple file hosts"
authors = ["Jacob B <admin@script-ware.net>"]
readme = "README.md"
repository = "https://github.com/jbsparrow/CyberDropDownloader"
documentation = "https://script-ware.gitbook.io/cyberdrop-dl/"
packages = [{ include = "cyberdrop_dl" }]
include = ["CHANGELOG.md"]

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
aiofiles = "^24.1.0"
aiohttp = "^3.11.10"
aiolimiter = "^1.2.0"
aiosqlite = "0.17.0"
apprise = "^1.9.0"
arrow = "^1.3.0"
asyncpraw = "^7.7.1"
beautifulsoup4 = "^4.12.2"
certifi = "^2024.8.30"
filedate = "^3.0"
get-video-properties = "^0.1.1"
inquirerpy = "^0.3.4"
jeepney =   [{platform = "linux", version = "^0.8.0"},{platform = "bsd", version = "^0.8.0"}]
lz4 = "^4.3.3"
mediafire = "^0.6.1"
myjdapi = "^1.1.7"
pillow = "^11.0.0"
platformdirs = "^4.3.6"
pycryptodomex = "^3.21.0"
pydantic = "^2.10.2"
pyyaml = "^6.0.2"
rich = "^13.9.4"
send2trash = "^1.8.3"
xxhash = "^3.5.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^4.0.1"
ruff = "^0.8.0"

[tool.poetry.scripts]
cyberdrop-dl = "cyberdrop_dl.main:main"

[tool.poetry.urls]
Changelog = "https://github.com/jbsparrow/CyberDropDownloader/blob/master/CHANGELOG.md"

[tool.ruff]
line-length = 120
target-version = "py311"
exclude = ["cyberdrop_dl/dependencies/browser_cookie3/__init__.py"]

[tool.ruff.lint]
select = [
    "E",    # pycodestyle errors
    "W",    # pycodestyle warnings
    "F",    # pyflakes
    "I",    # isort
    "B",    # flake8-bugbear
    "C4",   # flake8-comprehensions
    "UP",   # pyupgrade
    "N",    # PEP8 naming conventions
    "TCH",  # flake8-type-checking
    "COM8", # flake8-commas linter
    "RUF",  # RUF specific fixes
    "Q",    # flake8-quotes
]

ignore = [
    "N806",   # Uppercase variables in functions
    "E501",   # Suppress line-too-long, let formatter decide
    "COM812", # missing-trailing-comma
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
