name: Create GH Release

on:
  workflow_dispatch:

jobs:
  create_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Check for version tag
        id: check_tag
        run: |
          TAG_NAME=${GITHUB_REF##*/}
          if [ -z "$TAG_NAME" ]; then
            echo "Error: No tag provided. Please provide a tag to run this workflow."
            exit 1
          fi
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV

      - name: Extract version number
        id: extract_version
        run: |
          TAG_NAME=${{ env.TAG_NAME }}
          VERSION_NUMBER=$(echo "$TAG_NAME" | grep -oE '^[0-9]+' | head -n 1)
          if [ -z "$VERSION_NUMBER" ]; then
            echo "Error: No numeric version found in tag name."
            exit 1
          fi
          echo "VERSION_NUMBER=$VERSION_NUMBER" >> $GITHUB_ENV

      - name: Extract changelog content
        id: extract_changelog
        run: |
          TAG_NAME=${{ env.TAG_NAME }}
          CHANGELOG_CONTENT=$(awk -v version="$TAG_NAME" '
          /^#+ \[/ { if (p) { exit }; if ($2 == "["version"]") { p=1; next} } p && NF
          ' "CHANGELOG.md")
          if [ -z "$CHANGELOG_CONTENT" ]; then
            echo "Error: No changelog content found for tag $TAG_NAME."
            exit 1
          fi
          echo "CHANGELOG_CONTENT<<EOF" >> $GITHUB_ENV
          echo "$CHANGELOG_CONTENT" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Create start scripts zip
        run: |
          mkdir -p zip/Cyberdrop-DL.v${{ env.VERSION_NUMBER }}
          cp -r scripts/release/* zip/Cyberdrop-DL.v${{ env.VERSION_NUMBER }}
          cd zip
          zip -r ../Cyberdrop-DL.v${{ env.TAG_NAME }}.zip *

      - name: Create GH release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.TAG_NAME }}
          body: ${{ env.CHANGELOG_CONTENT }}
          files: Cyberdrop-DL.v${{ env.TAG_NAME }}.zip
